
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row" style="margin:20px">
        <div class="col-12"><h1>gRpc process is running</h1></div>
        <div class="col-12" id="content"></div>
    </div>
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    @*<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>*@
</body>
</html>
